 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About US</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                 
                </div>
                <div class="col-lg-4">
                    
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>The Islamic Cultural Center (ICC) was founded in 1989 by a group of
well guided muslims of College of Engineering, Trivandrum.It has now
evolved into an organisation which caters the needs of muslims in the
college. ICC had its humble beginnings in a
rented apartment and now it has flourished into a well structured
organisation occupying a three storey building.

ICC conducts regular Qur'an classes, professional meets, Hadith class
etc and also has its own independent mess. It has a library which has
several publications from around the world and also a multimedia
section which covers world famous debates, symposiums and programs.

Since its establishment, ICC has been a platform for Muslim students
to interact and share their views on various topics. It is a non
aligned institution which has no affiliation with any Islamic or
political organisation. ICC plans to share and propagate the teachings
of the Qur'an and Prophet Muhammad (PBUH) to the student body and
integrate them into a single mould.</p>
            </div>
        </div>
    </section>